[flake8]
max-line-length = 88
extend-ignore = W203, W503, E501, F405, F403
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    node_modules

per-file-ignores = __init__.py:F401
