/**
 * This file is for any scss that you may want for this visualizer.
 */
.electric-circuits-editor {
  outline: none; }

.electric-circuits-editor-zoom-container {
  position: absolute;
  z-index: 1000;
  top: 100px;
  left: 50px; }
